<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Record3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0332CD902135DEEF00F6518F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0332CDA42135DEF100F6518F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0332CDAF2135DEF100F6518F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
